In [1]:
import requests
import json
import pandas as pd
import numpy as np

In [2]:
planets_lst = []
for p in range(6):
    url = "https://swapi.dev/api/planets/?page="+str(p+1)
    response = requests.get(url).json()
    planets = response["results"]
    for planet in planets:
        planet["no_of_films"] = len(planet["films"])
        planet["no_of_residents"] = len(planet["residents"])
        planets_lst.append(planet)

In [3]:
planets_df = pd.DataFrame(planets_lst)
target_cols = ["name", "diameter", "population", "no_of_films", "no_of_residents"]
planets_df = planets_df[target_cols]
planets_df.replace("unknown",np.nan, inplace=True)

In [4]:
planets_df.dropna(inplace=True)

In [5]:
planets_df['diameter'] = planets_df['diameter'].astype('int64')
planets_df['population'] = planets_df['population'].astype('int64')

In [6]:
planets_df.reset_index(inplace=True)
planets_df.drop(columns="index",inplace=True)

In [12]:
planets_df

              name  diameter     population  no_of_films  no_of_residents
0         Tatooine     10465         200000            5               10
1         Alderaan     12500     2000000000            2                3
2         Yavin IV     10200           1000            1                0
3           Bespin    118000        6000000            1                1
4            Endor      4900       30000000            1                1
5            Naboo     12120     4500000000            4               11
6        Coruscant     12240  1000000000000            4                3
7           Kamino     19720     1000000000            1                3
8         Geonosis     11370   100000000000            1                1
9           Utapau     12900       95000000            1                1
10        Mustafar      4200          20000            1                0
11        Kashyyyk     12765       45000000            1                2
12     Polis Massa         0        1000000            1                0
13         Mygeeto     10088       19000000            1                0
14         Felucia      9100        8500000            1                0
15  Cato Neimoidia         0       10000000            1                1
16       Saleucami     14920     1400000000            1                0
17          Eriadu     13490    22000000000            0                1
18        Corellia     11000     3000000000            0                2
19           Rodia      7549     1300000000            0                1
20       Nal Hutta     12150     7000000000            0                1
21       Dantooine      9830           1000            0                0
22      Bestine IV      6400       62000000            0                1
23     Ord Mantell     14050     4000000000            1                0
24       Trandosha         0       42000000            0                1
25         Socorro         0      300000000            0                1
26        Mon Cala     11030    27000000000            0                1
27       Chandrila     13500     1200000000            0                1
28         Sullust     12780    18500000000            0                1
29        Toydaria      7900       11000000            0                1
30       Malastare     18880     2000000000            0                1
31        Dathomir     10480           5200            0                1
32          Ryloth     10600     1500000000            0                2
33         Vulpter     14900      421000000            0                1
34            Tund     12190              0            0                1
35      Haruun Kal     10120         705300            0                1
36     Glee Anselm     15600      500000000            0                1
37      Muunilinst     13800     5000000000            0                1
38           Kalee     13850     4000000000            0                1

In [11]:
print(f"Planet records collected: {len(planets_df)}")

Planet records collected: 39