In [1]:
import requests
import json
import pandas as pd
import numpy as np

In [2]:
vehicles_lst = []
for p in range(4):
    url = "https://swapi.dev/api/vehicles/?page="+str(p+1)
    response = requests.get(url).json()
    vehicles = response["results"]
    for vehicle in vehicles:
        vehicle["no_of_films"] = len(vehicle["films"])
        if len(vehicle["pilots"])>0:
            pilot_url = vehicle["pilots"][0]
            response = requests.get(pilot_url).json()
            vehicle["main_pilot"] = response["name"]
        else:
            vehicle["main_pilot"] = "No Pilot"
        vehicles_lst.append(vehicle)

vehicles_df = pd.DataFrame(vehicles_lst)
vehicles_df.T
target_cols = ["name", "manufacturer", "crew", "passengers", "cargo_capacity", "vehicle_class", "main_pilot","no_of_films"]
vehicles_df = vehicles_df[target_cols]
vehicles_df.replace("unknown",np.nan, inplace=True)
vehicles_df.dropna(inplace=True)
vehicles_df["cargo_capacity"].replace("none",0, inplace=True)
vehicles_df["crew"] = vehicles_df['crew'].astype('int64')
vehicles_df["passengers"] = vehicles_df['passengers'].astype('int64')
vehicles_df["cargo_capacity"] = vehicles_df['cargo_capacity'].astype('int64')
vehicles_df.rename(columns={"vehicle_class":"artifact_class"}, inplace=True)
vehicles_df["artifact"]="ve"
vehicles_df.reset_index(inplace=True)
vehicles_df.drop(columns="index",inplace=True)

In [3]:
starships_lst = []
for p in range(4):
    url = "https://swapi.dev/api/starships/?page="+str(p+1)
    response = requests.get(url).json()
    starships = response["results"]
    for starship in starships:
        starship["no_of_films"] = len(starship["films"])
        if len(starship["pilots"])>0:
            pilot_url = starship["pilots"][0]
            response = requests.get(pilot_url).json()
            starship["main_pilot"] = response["name"]
        else:
            starship["main_pilot"] = "No Pilot"
        starships_lst.append(starship)

starships_df = pd.DataFrame(starships_lst)
starships_df.T
target_cols = ["name", "manufacturer", "crew", "passengers", "cargo_capacity", "starship_class", "main_pilot","no_of_films"]
starships_df = starships_df[target_cols]
starships_df.replace("unknown",np.nan, inplace=True)
starships_df.dropna(inplace=True)
starships_df["cargo_capacity"].replace("none",0, inplace=True)
starships_df["crew"] = starships_df["crew"].str.replace(',','')
starships_df["passengers"] = starships_df["passengers"].str.replace(',','')
starships_df.loc[0,"crew"]=30
starships_df.loc[1,"passengers"]=0

starships_df["crew"] = starships_df['crew'].astype('int64')
starships_df["passengers"] = starships_df['passengers'].astype('int64')
starships_df["cargo_capacity"] = starships_df['cargo_capacity'].astype('int64')
starships_df.rename(columns={"starship_class":"artifact_class"}, inplace=True)
starships_df["artifact"]="ss"
starships_df.reset_index(inplace=True)
starships_df.drop(columns="index",inplace=True)

In [5]:
artifacts_df = vehicles_df.append(starships_df, ignore_index=True)
artifacts_df

,name,manufacturer,crew,passengers,cargo_capacity,artifact_class,main_pilot,no_of_films,artifact
0,Sand Crawler,Corellia Mining Corporation,46,30,50000,wheeled,No Pilot,2,ve
1,T-16 skyhopper,Incom Corporation,1,1,50,repulsorcraft,No Pilot,1,ve
2,X-34 landspeeder,SoroSuub Corporation,1,1,5,repulsorcraft,No Pilot,1,ve
3,TIE/LN starfighter,Sienar Fleet Systems,1,0,65,starfighter,No Pilot,3,ve
4,Snowspeeder,Incom corporation,2,0,10,airspeeder,Luke Skywalker,1,ve
...,...,...,...,...,...,...,...,...,...
57,Republic attack cruiser,"Kuat Drive Yards, Allanteen Six shipyards",7400,2000,20000000,star destroyer,No Pilot,1,ss
58,Jedi Interceptor,Kuat Systems Engineering,1,0,60,starfighter,Obi-Wan Kenobi,1,ss
59,arc-170,"Incom Corporation, Subpro Corporation",3,0,110,starfighter,No Pilot,1,ss
60,Belbullab-22 starfighter,Feethan Ottraw Scalable Assemblies,1,0,140,starfighter,Obi-Wan Kenobi,1,ss
61,V-wing,Kuat Systems Engineering,1,0,60,starfighter,No Pilot,1,ss